<template>
  <div class="wrapper h-full flex flex-col justify-between">
    <div class="nav bg-blue-light h-8 flex justify-end p-1">
      <button class="toggle-btn"
              :class="{'shadow-md': visTables }"
              @click="visTables = !visTables">Tables</button>
      <button class="toggle-btn"
              :class="{'shadow-md': visComputed }"
              @click="visComputed = !visComputed">Computed</button>
      <button class="toggle-btn"
              :class="{'shadow-md': visRoles }"
              @click="visRoles = !visRoles">Roles</button>
      <button class="toggle-btn"
              :class="{'shadow-md': visPolicies }"
              @click="visPolicies = !visPolicies">Policies</button>
      <button class="toggle-btn"
              :class="{'shadow-md': visAuth }"
              @click="visAuth = !visAuth">Auth</button>
    </div>
    <div class="flex-grow flex justify-around pt-3 pb-3">
      <div v-show="visTables" class="info-col flex-grow m-1 bg-purple-light">Tables</div>
      <div v-show="visComputed" class="info-col flex-grow m-1 bg-purple-light">Computed</div>
      <div v-show="visRoles" class="info-col flex-grow m-1 bg-purple-light">Roles</div>
      <div v-show="visPolicies" class="info-col flex-grow m-1 bg-purple-light">Policies</div>
      <div v-show="visAuth" class="info-col flex-grow m-1 bg-purple-light">Auth</div>
    </div>
    <div class="bg-orange-light mt-2 h-16">Current focus next</div>
    <div class="bg-purple h-8 flex justify-center items-stretch p-1">
      <input v-model="command" class="pl-1 self-stretch w-5/6 rounded-sm" :placeholder="prompt"
             @keydown.enter="fireAway"/>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
// import SystemInformation from "./LandingPage/SystemInformation.vue";

export default Vue.extend({
  name: "landing-page",
  data() {
    return {
      visTables: true,
      visComputed: false,
      visRoles: false,
      visPolicies: false,
      visAuth: false,
      prompt: "t(table), c(computed),r(roles), p(policy), a(auth)",
      command: "",
      schema: {
        focus: null,
        tables: [],
        computed: [],
        roles: [],
        policies: [],
        auth:[]
      }
    };
  },
  methods(){

  }
  // components: { SystemInformation },
  // this.$electron.shell.openExternal(link);

  /*
    Rapid add line
    List of Lists
      Tables
      Computed
      Policies
      Triggers
      Auth
    Current focus



  */
});
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
</style>
