<template>
  <div id="app" class="h-full">
    <router-view class="h-full"></router-view>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import './../tailwind.css'

export default Vue.extend({
  name: "electron-vue-typescript-starter"
});
</script>

<style>
/* CSS */
</style>
